/* BASE */


.fundo { 
    display: flex;
    align-items:center;
    flex-direction: column;
    height: 100%;
}
:root { /* variaveis */
    --input_borda_circulada : 15px;
    --input_tamanho_comprimento : 290px;
    --input_tamanho_largura : 30px
}
/* BASE */

/* mexendo na imagem */
.titulo img{
    width: 500px;
    margin-bottom: 30px;
}
/* mexendo na imagem */


/* mexendo em login area */ 
.login_area .input_login .text input{
    border-radius: var(--input_borda_circulada);
    width: var(--input_tamanho_comprimento);
    height: var(--input_tamanho_largura);
}

.login_area .input_login .radio{
   display: flex;
   justify-content: space-around;
}

#submit:hover{
    transition: 0.7s;
    background-color: red;
}

.input_login { /* area do login está no meio */
    width: var(--input_tamanho_comprimento);
    display: grid;
}

.text {
    display: flex;
    flex-direction: column;
    justify-items:right;
}


/* mexendo em login area */ 

    
