/* BASE */
body {
    height: 1000px;
    background: #1fa9c2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fundo {
    display: flex;      
    flex-direction: column;
    align-items: center;
}
/* BASE */



